body{
    background-image: url(https://images.unsplash.com/photo-1464983953574-0892a716854b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80); 

}


#iniciar{
    
    font-family: 'Ubuntu', sans-serif;
    
    /* Centrar*/
    display: flex;
    justify-content: center;
    align-items: center;
    

    /* Contenido*/
    background-color: whitesmoke;
    padding: 40px;
    height: 250px;
    width: 380px; 
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    
    border-radius: 10px; 
    padding-top: 5px;
    
    
}

#registrar{
    
    font-family: 'Ubuntu', sans-serif;
    
    /* Centrar*/
    display: flex;
    justify-content: center;
    align-items: center;
    

    /* Contenido*/
    background-color: whitesmoke;
    padding: 40px;
    height: 250px;
    width: 380px; 
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    
    border-radius: 10px; 
    padding-top: 5px;
    
    
}

#idrecuperar{
    text-decoration: none;
    color: blue;
    
}

#idboton {
    background-color: #0085E5;
    border-radius: 5px;
    color: #ffffff;
    cursor:pointer;
    border-style: none;
}

#idcorreo {
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);

}

#idcontraseña {
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);
    
}

#idboton2 {
    background-color: #03071E;
    border-radius: 5px;
    color: #ffffff;
    cursor:pointer;
    border-style: none;
}

#idcrearcuenta {
    background-color: #03071E;
    border-radius: 5px;
    color: #ffffff;
    cursor:pointer;
    border-style: none;
}

#idcorreo2 {
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);

}

#idcontraseña2 {
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);
    
}

.pie{
    font-family: 'Roboto light', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: baseline;
    bottom: auto;
    
}