body{
    background-image: url(https://images.unsplash.com/photo-1561780872-52d0f886ef12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80); 
    
}


.frente{
    
    font-family: 'Ubuntu', sans-serif;
    
    /* Centrar*/
    display: flex;
    align-items: top;
    justify-content: left;

    /* Contenido*/
    background-color: whitesmoke;
    padding: 50px;
    height: 500px;
    width: 950px; 
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    
    border-radius: 10px; 
    padding-top: 20px;
    
    
}

#boton {
    background-color: #80B918;
    border-radius: 5px;
    color: #ffffff;
    border-style: none;
}
#boton:hover{
    background-color: #AACC00;
}

#botonbuscar {
    background-color: #0a6ab8;
    border-radius: 5px;
    color: #ffffff;
    border-style: none;
}
#botonbuscar:hover{
    background-color: #0158a0;
}

#botoneditar{
    background-color: #069df4;
    border-radius: 5px;
    border-style: none;
    color: #ffffff;
}
#botoneditar:hover{
    background-color: #007cc4;
}

#botoneliminar{
    background-color: #D00000;
    border-radius: 5px;
    border-style: none;
    color: #ffffff;
}

#botoneliminar:hover{
    background-color: #F50000;
}

#id_numero {
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);

}


#idnombre {
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);
    
}

#iddescripcion {
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);
    
}

#idprecio {
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);
    
}

#registro{
    
    font-family: 'Roboto light', sans-serif;
    width: 950px;
    border-radius: 5px;
    text-align: left;
    border-collapse: collapse;
    
    
}

#idbuscar{
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);
    
}

th, td{
    border-radius: 0px;
    padding: 10px;
    
    
}

tr:nth-child(even){
    background-color: #DAE0E5;
}

tr:hover td{
    background-color: #B9D6F2;
}

thead{
    background-color: #03071E;
    color: white;
    
}



.pie{
    font-family: 'Roboto light', sans-serif;
    color: white;
    align-content: flex-end;
    display: flex;
    justify-content: center;
    align-items: baseline;
    bottom: auto;
    
}